
body {
  background-color: #171717;
  color: white;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

h1{
  color:rgb(124, 179, 225);
  font-size: 84px;
  text-align: center;
  font-family: 'Rowdies', cursive;
}



  
  .pfp{

    display: block;
    margin: 0 auto;
    
    height: 200px;
    width: 200px;
    object-fit:cover;
    border: rgb(226, 65, 65);
  
  }

 
  
  p {
    color: var(--accentColor);
    font-size: 1rem;
    
    line-height: 2.0;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
    
}

  
  .links {
    text-align: center;
    margin-top: 20px;
    border: 1px solid rgb(124, 179, 225);
    border-width: 1px;
    padding: 15px;
  
    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
    border-radius: 40px;
  
    font-size: 18px;
  }
  
  
a {
    text-decoration: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
  
    color: rgb(228, 87, 87);
    transition: color 1s;
  }
  
  a:hover {
    color: black;
    background-color: white;
  }
